:root {
    --container-width: 1200px;
    --container-padding: 15px;

    --font-main: 'Poppins', sans-serif;
    --font-accent: 'Playfair Display', serif;

    --page-bg: #fff;
    --text-color: #000;
    --accent: #dddd;

    --laptop-size: 1199px;
    --tablet-size: 959;
    --mobile--size: 599;

}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}